/* line 1, ../../sass/pages/one.sass */
.display-inline-block {
  display: inline-block;
}

/* line 3, ../../sass/pages/one.sass */
.dnone {
  display: none;
}

/* line 5, ../../sass/pages/one.sass */
.show {
  display: block;
}
