<h2>Описание задания</h2>
<p>

	Необходимо разработать web-интерфейс состоящий из трех вкладок (слева) и интерфейса авторизации. Допустимо использование фреймворков. Но необходимо в сопроводительном письме указать какой, для какой цели он используется, и почему он был выбран.  Вкладки должны обладать следующим функционалом:
</p>
<p>
	1.    Первая вкладка содержит форму с кнопкой, а также:

</p>

<ul>
	<li>● 3 checkbox, которые делают видимым по одному текстовому полю.</li>
	<li>● select c выбором одного из 5 значений: деактивированы все checkbox, активирован 1й, активирован 2й,
		активирован 1 и 3, активированы все.
	</li>
	<li>● результат выполнения формы возвращает в div находящейся под самой формой текущее время и дату, а также строку
		c JSON в зависимости от введенных значений следующего вида:
		{ “1” : ”string” , ”3” : ”” }
	</li>
</ul>

<p>
	2. вторая вкладка содержит четырнадцать ячеек для ввода значений:

</p>

<p>
	A: [87]    [48]    [42]    [120]    [92]    [83]    [72]

</p>
<p>
	B: [1]    [2]    [3]    [4]    [5]     [6]    [7]

</p>

<p>
	значение А не может быть меньше B, в случае ввода неверного значения в этом столбце должны быть выделены. Результатом выполнения должны быть 2 графика под содержимым формы. Пример ниже:
	а также круговой график с суммой выбранных значений.
</p>

<img src="img/1.png" alt="img">

<p>
	3.  Drag-and-drop Состоит из правой и левой части. В левой части 5 блоков вертикально друг под другом.
</p>

<ul>
	<li>При двойном клике на блок возможно изменить цвет изменяя значение HTML.</li>
	<li>Должна быть возможность удалить блок.</li>
	<li>  При изменении положения относительно друг друга в правой части изменяется сожержимое INI:</li>
</ul>

[block1]<br>
color=#F1F1F1<br>
[block2]<br>
color=#F1F1F1<br>
[block3]<br>
color=#F1F1F1<br>
[block4]<br>
color=#F1F1F1<br>
[block5]<br>
color=#F1F1F1<br>

<br>
<ul>
	<li> В правой части должны быть 2 кнопки, RESET возвращающее содержимое вкладки в исходное положение,</li>
	<li>SAVE изменяющее положение блоков на экране согласно содержимому INI файла.</li>
</ul>
<p>

	При открытии странички должна быть авторизация admin пароль qwerty123, в самом интерфейсе кнопка выход.
</p>





