<div class="one" ng-controller="oneCtrl">

	<div class="col-xs-12 col-md-4 col-xs-offset-4">
		<form class="center-block" method="post" action="#">
			<label>
				<input ng-click="check()" type="checkbox" id="inlineCheckbox1" value="option1" ng-model="result.one" name="one"  >
				Показать первое поле
				<input ng-class="{show: result.one}" class="form-control dnone" ng-model="result.onetext" type="text">
			</label>
			<label>
				<input ng-click="check()" type="checkbox" id="inlineCheckbox2" value="option2" ng-model="result.two" name="two" >
				Показать второе поле
				<input ng-class="{show: result.two}" class="form-control dnone" ng-model="result.twotext" type="text">
			</label>
			<label>
				<input ng-click="check()" type="checkbox" id="inlineCheckbox3" value="option3" ng-model="result.three" name="three">
				Показать третье поле
				<input ng-class="{show: result.three}"  class="form-control dnone"  ng-model="result.threetext" type="text">
			</label>

			<fieldset class="form-group">
				<label for="exampleSelect1">Выберите значение</label>
				<select ng-change = "checkselect()"  name="myselect" ng-model="data"  class="form-control" id="exampleSelect1">
					<option  value="1">1</option>
					<option  value="2">2</option>
					<option value="3">3</option>
					<option value="4">1,3</option>
					<option value="5">Все</option>
				</select>
			</fieldset>

			<button class="btn btn-primary">Отправить</button>

		</form>


		<div class="resultat m-t-3">
			<time>{{ time |  date:'dd:MM:yyyy H:m:s' }}</time>
			<pre>result = {{result | json}}</pre>


		</div>


	</div>

</div>