<div class="col-xs-12">
	<form class="form" action="#">
		<div class="row">
			<h3 class="m-y-1">A</h3>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="a1" type="text" class="a1 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="a2" type="text" class="a2 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="a3" type="text" class="a3 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="a4" type="text" class="a4 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="a5" type="text" class="a5 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="a6" type="text" class="a6 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="a7" type="text" class="a7 form-control"></div>
		</div>
		<div class="row">
			<h3 class="m-y-1">B</h3>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="b1" type="text" class="b1 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="b2" type="text" class="b2  form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="b3" type="text" class="b3 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="b4" type="text" class="b4 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="b5" type="text" class="b5 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="b6" type="text" class="b6 form-control"></div>
			<div class="col-xs-12 p-x-0 col-md-1"><input ng-change="grafick()" ng-model="b7" type="text" class="b7 form-control"></div>
		</div>

	</form>
</div>
<div id="chartdiv"></div>
<div class="col-xs-12">
	<div id="chartdiv2"></div>
</div>

